<h1>Convert <%= @symbol1 %> </h1>

<p>Go <a href="/">back</a>.</p>

<ul>
<% @hash.each do |key, value|%>
    <li>
      <a href="/<%= @symbol1 %>/<%= key %>">
        Convert 1 <%= @symbol1 %> to <%= key %>...
      </a>
    </li>
    <% end %>
</ul>    
